<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Room</title>
</head>
<body>
    <h1>Edit Room</h1>
    <form action="/rooms/<%= room._id %>?_method=PUT " method="POST">
        <div>
            <label for="PGname">PG Name:</label>
            <input type="text" id="PGname" name="room[PGname]" value="<%= room.PGname %> ">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="room[location]" value="<%= room.location %> ">
        </div>
        <button>Edit Room</button>
        <a href="/rooms/<%= room._id %> ">Back to room</a>
    </form>
</body>
</html>