<% layout('layouts/boilerplate') %>
    <h1>Edit Room</h1>
    <form action="/rooms/<%= room._id %>?_method=PUT " method="POST">
        <div>
            <label for="PGname">PG Name:</label>
            <input type="text" id="PGname" name="room[PGname]" value="<%= room.PGname %> ">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="room[location]" value="<%= room.location %> ">
        </div>
        <button>Edit Room</button>
        <a href="/rooms/<%= room._id %> ">Back to room</a>
    </form>