<% layout('layouts/boilerplate') %> 
<h1>All Rooms</h1>
<a href="/rooms/new">Add Room</a>
<ul>
    <% for( let room of rooms ) { %>
        <li><a href="/rooms/<%= room._id %>"><%= room.PGname %></a> </li>
    <% } %>
</ul>